<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boguzhai"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".activity.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Service在AndroidManifest中的声明语法参考 http://developer.android.com/guide/topics/manifest/service-element.html -->
        <service
            android:name=".logic.service.NetworkStateService"
            android:enabled="true" />

        <!-- activity entry of app -->
        <activity android:name=".activity.base.ActivityEntry" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- activities belong part of app start -->
        <activity android:name=".activity.mainpage.MainActivity" />
        <activity android:name=".activity.mainpage.AppGuideActivity" />
        <activity android:name=".activity.mainpage.AppStartActivity" />

        <!-- activities belong part of base, pay and item -->
        <activity android:name=".activity.items.BaseHtmlActivity" />
        <activity android:name=".activity.pay.AlipayActivity" />

        <!-- activities belong part of search -->
        <activity android:name=".activity.search.SearchResultActivity" />

        <!-- activities belong part of auction -->
        <activity android:name=".activity.auction.AuctionDisplayActivity" />
        <activity android:name=".activity.auction.LotInfoActivity" />
        <activity android:name=".activity.auction.LotFilterActivity" />
        <activity android:name=".activity.auction.AuctionActiveActivity" />
        <activity android:name=".activity.auction.apply.PayBailActivity" />
        <activity android:name=".activity.auction.apply.PayBailResultActivity" />

        <!-- activities belong part of login -->
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.login.ResetPwdActivity" />

        <!-- activities belong part of me info -->
        <activity android:name=".activity.me.info.AccountInfoActivity" />
        <activity android:name=".activity.me.info.AccountInfoMoreActivity" />
        <activity android:name=".activity.me.info.AccountInfoEditActivity" />
        <activity android:name=".activity.me.info.AccountBindEmailActivity" />
        <activity android:name=".activity.me.info.AccountBindMobileActivity" />
        <activity android:name=".activity.me.info.IdentityVerifyActivity" />
        <activity android:name=".activity.me.info.IdentityShowActivity" />
        <activity android:name=".activity.me.info.DeliveryAddressManageActivity" />
        <activity android:name=".activity.me.info.DeliveryAddressEditActivity" />

        <!-- activities belong part of me capital -->
        <activity android:name=".activity.me.capital.CapitalShowActivity" />
        <activity android:name=".activity.me.capital.CapitalBindbankActivity" />
        <activity android:name=".activity.me.capital.CapitalDetailActivity" />
        <activity android:name=".activity.me.capital.CapitalChargeActivity" />
        <activity android:name=".activity.me.capital.CapitalWithdrawalActivity" />

        <!-- activities belong part of me myauction -->
        <activity
            android:name=".activity.me.myauction.MyAuctionActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity android:name=".activity.me.myauction.MyAuctionSessionActivity"/>

        <!-- activities belong part of me bidding -->
        <activity android:name=".activity.me.bidding.BiddingActivity" />

        <!-- activities belong part of me order -->
        <activity android:name=".activity.me.order.PayOrderActivity" />

        <!-- activities belong part of me proxy -->
        <activity
            android:name=".activity.me.proxy.ProxyPricingActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.me.proxy.SetProxyPricingActivity" />

        <!-- activities belong part of me collect -->
        <activity android:name=".activity.me.collect.MyCollectionActivity" >
        </activity>

        <!-- activities belong part of me upload -->
        <activity android:name=".activity.me.upload.UploadLotActivity" >
        </activity>

        <!-- activities belong part of me setting -->
        <activity android:name=".activity.me.settings.SystemSettingsActivity" >
        </activity>
        <activity android:name=".activity.me.settings.AboutBoGuZhaiActivity" />
        <activity android:name=".activity.me.settings.AuctionGuideActivity" />
        <activity android:name=".activity.me.settings.AddAdviceActivity"/>
        <activity android:name=".activity.me.settings.AdviceActivity"/>
    </application>

</manifest>
